* {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold !important;
    outline: none !important;
    box-sizing: border-box !important;
    text-decoration: none!important;
}

i,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px !important;
}

.container{
    box-shadow: 0 0 16px #212121;
}

#bottom {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    gap: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 5em;
}

#bottom::-moz-scrollbar {
    display: none;
}

#bottom::-webkit-scrollbar {
    display: none;
}

.bbl {
    border-radius: 100px;
    color: #fff;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7008a;
    cursor: pointer;
    box-shadow: 0 0 4px #212121;
}

.bbl:hover {
    color: #e7008a;
    background: #fff;
}

h3 {
    color: aliceblue;
    text-align: center;
}

@media only screen and (max-width: 520px){
    .container{
        width: 25em!important;
    }
}

@media only screen and (max-width: 440px){
    .container{
        width: 20em!important;
    }
}

@media only screen and (max-width: 380px){
    .container{
        width: 15em!important;
    }
    .top{
        font-size: 0.8em;
    }
}